:root {
	--hpad: 1.2rem;
	--vpad: 1rem;
	--padding: var(--vpad) var(--hpad);
	--yt-red: #FF0000;
	font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	width: auto;
	min-width: 250px;
	text-align: center;
}

header h3 {
	padding: var(--padding);
	color: white;
	background-color: var(--yt-red);
	display: flex;
	align-items: center;
	justify-content: center;
}

header img {
	width: 20px;
	object-fit: scale-down;
	margin-right: 10px;
}

a {
	font-size: .85rem;
	text-decoration: none;
	color: #000;
	display: block;
	margin-top: var(--vpad);
}

a:hover {
	text-decoration: underline;
}

.foot-text {
	margin: var(--vpad) 0;
	color: #c4c4c4;
}

